body {
  color: #333;
  margin: 0px;
	min-width: 480px;
	font-family: sans-serif;
}

a {
	color: #758834;
}

a:hover {
	text-decoration: none;
}

.root, .titles {
	max-width: 1000px;
	padding: 0 70px;
	margin: auto;
}

@media (min-width: 1100px) {
	html {
		font-size: 23px
	}
}

@media (min-width: 900px) and (max-width: 1100px) {
	html {
		font-size: 20px
	}
}

@media (min-width: 700px) and (max-width: 900px) {
	html {
		font-size: 18px
	}
}

/**************************** Header Bar ****************************/

.header {
	padding: 18px 0;
	padding: 1rem 0;
	margin: 0 auto 45px;
	margin: 0 auto 2.5rem;
	border-bottom: 20px solid #222;
	font-family: Raleway;
	color: #999;
}

.header .titles {
	margin-bottom: 18px 0;
	margin-bottom: 1rem 0;
}

.header h1, .header h3 {
	margin: 0;
	display: inline-block;
}

.header h1 {
	font-weight: normal;
	margin-right: 18px;
	margin-right: 1rem;
	font-size: 54px;
	font-size: 3rem;
}

.header h3 {
    font-size: 36px;
	font-size: 2rem;
}

.header a {
	color: #999;
	text-decoration: none;
}

.header a:hover {
    color: #666;
}

.banner {
	height: 250px;
	background-size: cover;
	background-position: center;
}

/**************************** Blog Post ****************************/

.root h1, .root h2, .root h3, .root h4 {
  margin-bottom: 0;
}

.article {
  margin: 0 0 90px 0;
  margin: 0 0 5rem 0;
}

.date { /* moves date to left */
	height: 0;
	position: relative;
	left: -90px;
	color: #DD322D;
    line-height: 1.4;
}

.date div {
	text-align: right;
	width: 70px;
}

.blogTitle {
	margin: 0;
	font-size: 45px;
	font-size: 2.5rem;
}

.blogTitle a {
	color: #333;
	display: block;
	text-decoration: none;
}

.blogTitle a:hover {
	color: gray;
}

.blogContent p {
	margin: 0 0 18px;
	margin: 0 0 1rem;
    line-height: 1.4;
}

.blogContent img {
	max-width: 80%;
	max-height: 800px;
	border: 1px solid #333;
	padding: 5px;
}

/**************************** Footer ****************************/

.footer {
	margin: 27px 0;
	margin: 1.5rem 0;
}
