body {
    color: #0F0F00;
    margin: 0;
	min-width: 480px;
	font-family: sans-serif;
    background-image: linear-gradient( top, #fff 0%, #eee 100% );
    background-image: -o-linear-gradient( top, #fff 0%, #eee 100% );
    background-image: -moz-linear-gradient( top, #fff 0%, #eee 100% );
    background-image: -webkit-linear-gradient( top, #fff 0%, #eee 100% );
    background-image: -ms-linear-gradient( top, #fff 0%, #eee 100% );

}

.centered {
	max-width: 920px;
	padding: 0 70px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1100px) {
	html {
		font-size: 22px
	}
}

@media (min-width: 900px) and (max-width: 1100px) {
	html {
		font-size: 20px
	}
}

@media (min-width: 700px) and (max-width: 900px) {
	html {
		font-size: 18px
	}
}

/**************************** Header Bar ****************************/

.header {
	padding: 18px 0;
	padding: 1rem 0;
	margin-bottom: 18px;
    margin-bottom: 1rem;
	font-family: Raleway;
	color: #FFFF91;
	background: #0F0F00;
}

.header .titles {
	margin-bottom: 18px;
	margin-bottom: 1rem;
}

.titles h1, .titles h2 {
	margin: 0;
	display: inline-block;
}

.titles h1 {
	margin-right: 18px;
	margin-right: 1rem;
}

.header h1 {
	font-weight: normal;
	font-size: 54px;
	font-size: 3rem;
}

.header h2 {
    font-size: 36px;
	font-size: 2rem;
}

.header h1, .header h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.header h1 a, .header h2 a {
	color: #FFFF91;
	text-decoration: none;
}

.header a:hover {
    color: #FFFFB5;
}

.banner {
	height: 250px;
	background-size: cover;
	background-position: center;
}

/**************************** Blog Post ****************************/

.article {
    margin-top: 90px;
    margin-top: 5rem;
    margin-bottom: 36px;
    margin-bottom: 2rem;
}

.date { /* moves date to left */
	height: 0;
	position: relative;
	left: -88px;
	color: #d22042;
    line-height: 1.4;
}

.date div {
	text-align: right;
	width: 70px;
}

.article p {
	margin: 0 0 18px;
	margin: 0 0 1rem;
    line-height: 1.4;
}

.article img {
	max-width: 80%;
	max-height: 800px;
	border: 1px solid #0F0F00;
	padding: 5px;
}

.article a {
    color: #30c4c9;
}

.article a:hover {
	text-decoration: none;
}
